.banner__container {
  display: flex;
  padding-bottom: 1em;
}

.banner__img{
  width: 50%;
}

.banner__title {
  font-size: calc(4vw + 1.25rem);
}

.banner__start-container {
  margin-top: 2rem;
  display: flex;
  align-items: center;
}

.banner__start-button {
  background-color: #5454d4;
  margin-right: 2.5rem;
}

.banner__arrow-button {
  background-color: transparent;
  cursor: pointer;
}

.banner__arrow-img:hover {
  filter: brightness(70%);
}
