body {
  background-color: #fff;
}

.container {
  max-width: 72.8rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.start-button {
  width: 13rem;
  height: 3.75rem;
  border-radius: 0.625rem;
  color: #fff;
  font-size: 1rem;
  font-family: "DM Sans";
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.start-button:hover {
  filter: brightness(90%);
}

h1 {
  font-family: "DM Sans";
  font-weight: 700;
  line-height: 0.93em;
}

h2{
  font-family: DM Sans;
  font-weight: 700;
  color: #19191b;
}

h3 {
  font-family: "Mulish";
  font-weight: 400;
  font-size: 1.25em;
  color: #696871;
}