.cards {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	align-items: center;
	margin-bottom: 138px;
}

.cards * {
	margin: 20px 10px;
}

.cards-img {
	display: block;
	margin: 0 auto;
}

.cards-info__title {
	font-family: DM Sans;
	font-weight: 700;
	font-size: 50px;
	color: #19191B;
}

.cards-info__learnmore {
	text-decoration: none;
	font-family: DM Sans;
	font-weight: 300;
	font-size: 17px;
	color: #5454D4;
}

.cards-info__learnmore:hover {
	opacity: 0.8;
}