.cards {
  padding: 2em 0;
}

.cards__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

.cards__img {
  max-width: 90%;
  margin: 0 auto;
}

.cards__title {
  font-size: 3.125rem;
}

.cards__description {
  padding: 2rem 0;
}

.cards__learnmore {
  text-decoration: none;
  font-family: DM Sans;
  font-weight: 300;
  font-size: 17px;
  color: #5454d4;
}

.cards__learnmore:hover {
  color: #ff7143;
}
