@media (max-width: 767px) {

	/* styles for header section */
	.header {
		grid-template-columns: 2fr 1fr 2fr;
	}

	.header__logo {
		display: block;
		margin: 8px auto;
	}

	.header__menu {
		display: none;
	}

	.burger {
		display: block;
	}

	/* styles for banner section */
	.banner__title {
		font-size: 8vw;
	}

	.banner {
		grid-template-columns: 1fr;
		margin-bottom: 0;
	}

	.banner__content {
		margin-bottom: 50px;
	}

	.banner__img {
		width: 80%;
		margin: 0 auto 50px auto;
	}

	.logo-bar__img {
		max-width: 14%;
	}


	/* styles for cards section */
	.cards {
		grid-template-columns: 1fr;
		grid-template-rows: 2fr 1fr 2fr 1fr;
		margin-bottom: 138px;
	}

	.card--1 {
		grid-row: 1;
	}

	.card--2 {
		grid-row: 2;
		margin-bottom: 70px;
	}

	.card--3 {
		grid-row: 4;
	}

	.card--4 {
		grid-row: 3;
	}

}