.services {
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.services-card {
	padding: 0 5px;
}

.services-card__img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

.services-card__title {
	font-family: DM Sans;
	font-weight: 700;
	font-size: 24px;
	color: #19191B;
	text-align: center;
}

.description--services {
	font-size: 16px;
	text-align: center;
	margin: 20px auto 0 auto;
	width: 80%;
}