.tariff{
padding: 8.37rem 0 2rem 0;
}

.tariff__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "title choice"
    "cont cont";
}

.tariff__title {
  grid-area: title;
  font-size: calc(3vw + 15px);
}

.tariff__radio {
  grid-area: choice;
  display: flex;
  flex-grow: 1;
  padding: 0.25rem;
  margin: auto 0 auto auto;
  width: 21.5rem;
  height: 4.05rem;
  border-radius: 0.81rem;
  background-color: #f7f7fb;
}

.tariff__btn {
  width: 50%;
  overflow: hidden;
}

.tariff__btn--left {
  border-radius: 0.625rem 0 0 0.625rem;
}

.tariff__btn--right {
  border-radius: 0 0.625rem 0.625rem 0;
}

.tariff__btn input[type="radio"] {
  display: none;
}

.tariff__btn label {
  display: block;
  text-align: center;
  padding: 1.25rem;
  width: 100%;
  height: 100%;
  font-family: DM Sans;
  font-size: 1rem;
  font-weight: 700;
}

.tariff__btn label:hover {
  cursor: pointer;
}

.tariff__btn input[type="radio"]:checked + label {
  background-color: #5454d4;
  color: #fff;
}

.tariff__btn input[type="radio"]:disabled + label {
  background-color: #fff;
  color: black;
}

.tariff__cards-container {
  grid-area: cont;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5rem;
}

.tariff__card {
  list-style-type: none;
  width: 32%;
  border-radius: 0.625rem;
  text-align: center;
  font-family: Mulish;
  font-size: 1.06rem;
  color: #696871;
  background-color: #f8f8f8;
}

.tariff__item {
  padding: 1.5rem 0;
}

.tariff__item:nth-child(2) {
  font-size: 3.75rem;
  padding: 0;
  font-weight: 700;
}

.tariff__item:nth-child(2) span {
  font-size: 1.75rem;
}

.tariff__button{
  color: #5454d4;
  background-color: #fff;
  font-weight: 700;
  width: 85%;
  height: 3.75rem;
  padding: 0.625rem 0;
}

.tariff__button:hover {
  color: #e66a45;
}

.tariff__button--bright {
  background-color: #9f3919;
  color: #fff;
}

.tariff__card--bright {
  background-color: #ff7143;
  color: #fff;
}

.tariff__card--bright .tariff__item:first-child {
  margin-top: 1.5rem;
}
.tariff__card--bright .tariff__item:last-child {
  margin-bottom: 1.5rem;
}
